<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BddpersonnelDataContextConnectionString" connectionString="User Id=userBDDR;Password=Password1234@il;Host=172.16.32.235;Database=bddpersonnels;Persist Security Info=True" />
    </connectionStrings>
</configuration>